# data-science--visualization-python
change the directory of the csv file in the code in order to run it
also, you will need the following libraries - streamlit, numpy, pandas, pydeck, and plotly
i'm adding the links below, but you can always google :D
PS I'll suggest to download the required libraries using pip since it makes life much easier (you knwo what i mean)

https://pypi.org/project/pip/

https://www.streamlit.io/
https://numpy.org/
https://pandas.pydata.org/
https://pypi.org/project/pydeck/
https://plotly.com/
